
{% extends "layout.html" %}

{% block pageTitle %}
{{[serviceName]}}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        {{[serviceName]}}

      </h1>{{releaseVersion | log }}
      <p>
        This is a high level mock up of what a digital solution to report avian influenza (bird flu) may look like. 
      </p>

      <p>
        Click <a href="start">this link</a> to begin. 
      </p>
      <h2 class="govuk-heading-m">Notes</h2>

      <p>Clicking the GOV.UK logo in the top left of the screen will bring the user back to this page.</p>

      <p>This mock up illustrates the happy path for this service (reporting of bird flu in poultry or captive birds) and does not inlcude alternative journeys.</p>
      
      <div hidden>
        
        <h2 class="govuk-heading-m">Examples and documentation</h2>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
          </li>
        </ul>
      </div>  
    </div>
  </div>

{% endblock %}
